.output
.data
.nuxt
.nitro
.cache
dist
node_modules
logs
.DS_Store
.idea
.env.local
package-lock.json
.env
.obsidian
.vscode
.cursor

/backend/.phpunit.cache
/backend/bootstrap/ssr
/backend/node_modules
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/storage/pail
/backend/resources/js/actions
/backend/resources/js/routes
/backend/resources/js/wayfinder
/backend/vendor
/backend/.DS_Store
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/.phpactor.json
/backend/.phpunit.result.cache
/backend/Homestead.json
/backend/Homestead.yaml
/backend/npm-debug.log
/backend/yarn-error.log
/backend/auth.json
/backend/.fleet
/backend/.idea
/backend/.nova
/backend/.vscode
/backend/.zed
/backend/.cursor
/backend/.github
backend/boost.json
