@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans: 'Work Sans', sans-serif;
    --font-weight-normal: 500;
    --font-weight-medium: 600;
    --color-theme: #f8f9fa;
    --color-theme-dark: #e9ecef;
}

main {
    margin: 0;
    padding: 0;
}