:root,
:root.default {
    /* Informational */
    --color-info: #7aa0c4;
    --color-success: #599862;
    --color-warning: #FAAB78;
    --color-danger: #D04848;
    --color-accent: #827FF0;

    /* Border Radii */
    --border-radius-low: 5px;
    --border-radius-mid: 10px;
    --border-radius-high: 20px;

    --color-background: #FFFFFF;
    --color-fill: #F4F7FB;
    --color-fill-dark: #E3EAF5;
    --color-border: #F2F2F2;
    --color-border-dark: #DEDEDE;
    --color-text: #484848;
    --color-text-light: #636363;
    --color-text-header: #111111;
}

:root.carbon {
    --color-background: #020202;
    --color-fill: #0e0e0e;
    --color-fill-dark: #181818;
    --color-border: #141414;
    --color-border-dark: #323232;
    --color-text: #ececec;
    --color-text-light: #c5c5c5;
    --color-text-header: #efefef;
}

:root.monokai {
    --color-background: #222222;
    --color-fill: #191919;
    --color-fill-dark: #363537;
    --color-border: #141414;
    --color-border-dark: #323232;
    --color-text: #e8e8e8;
    --color-text-light: #cdcdcd;
    --color-text-header: #e2e2e2;
}

/* HTML */
body {
    background: var(--color-background);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-optical-sizing: auto;
}

* {
    color: var(--color-text);
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.2s;
    font-family: "Work Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--color-text-header);
    font-weight: 600;
}

input,
button {
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: 500;
}

span {
    display: block;
}

input,
p,
a,
button {
    font-size: 16px;
}

a,
button,
input[type=checkbox],
.pointer {
    cursor: pointer;
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
}

a,
.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

h1 {
    font-size: x-large;
}

/* Custom Classes */
.content-view {
    box-sizing: border-box;
    padding: 20px 30px 30px;
    height: 100%;
    gap: 20px;
}

.shadow {
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex {
    display: flex;
    align-items: center;
    gap: 5px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-background);
    opacity: 0.3;
    z-index: 2;
    cursor: pointer;
}

.page-splitter {
    width: 100%;
    height: 2px;
    background-color: var(--color-border);
}

.splitter {
    width: 100%;
    height: 2px;
    background-color: var(--color-border);
}

/* Color Classes */
.color-info {
    color: var(--color-info);
}

.color-success {
    color: var(--color-success);
}

.color-warning {
    color: var(--color-warning);
}

.color-danger {
    color: var(--color-danger);
}